<form method="post" action="{{ path('backend_salesrep_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commercial ? \nPensez à affecter un nouveau commercial aux pharmacies rattachées');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <p class="text-right">
        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</button>
    </p>
</form>
