{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants
{% endblock %}

{% block body %}

<!-- Bootstrap Container -->
<div class="container-fluid p-0">
    <main class="container-fluid m-5">
    <h1 class="h2">Mentions légales</h1>
        <div class="container-fluid text-center">
            <p>YNOVAGROUP</p>
            <p>SASU au capital social de 10000 euros</p>
            <p><strong>SIRET</strong> <br> 82448493500013 // RCS Pontoise</p>
            <p><strong>Numéro de TVA intracommunautaire</strong> <br> FR19824484935</p>
            <p><strong>Adresse</strong> <br> 43 Grande Rue 95290 L’Isle-Adam</p>
            <p><strong>Contact</strong> <br> contact@ynovagroup.com // 00 00 00 00 00</p>
            <p><strong>Responsable de la publication</strong> <br> BABICZ Stéphane</p>
            <p><strong>Déclaration à la CNIL</strong> <br> n°XXXXXXX</p>
            <p><strong>Hébergement</strong> <br> Online SAS - BP 438 - 75366 Paris CEDEX 08 - RCS Paris B 433 115 904 (online.net)</p>
        </div>
    </main>
</div>
{% endblock %}
