<!--Modal v.1-->
<div class="modal hide fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Politique de confidentialité</h5>
                <button type="button" id="popupClose" class="close" data-dismiss="modal" aria-label="Close" onclick="this.parentElement.parentElement.style.display='none';">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. La navigation sur ce site implique leur acceptation.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" id="popupOK" onclick="this.parentElement.parentElement.style.display='none';">
                Accepter
                <i class="fas fa-check"></i>
            </button>
            <a href="{{ path('rgpd') }}" class="a-rgpd btn btn-light">En savoir plus</a>
        </div>
        </div>
    </div>
</div>

<script>
$(window).on('load', function () {
    $('#myModal').modal('show');
});

$(window).on('click', function () {
    $('#myModal').modal('hide');
});

$('#myModal').on('hide.bs.modal', function () {
    $.ajax({
        method: 'POST',
        url: '{{ path('accept_cookies')|escape('js') }}'
    })
})
</script>