{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants
{% endblock %}

{% block body %}

<!-- Partenaires -->
<div id="partner" class="container p-0">
    <main class="container-fluid mt-5">
    <h1 class="h2 mt-3 text-center">Nos partenaires</h1>
    <section id="partenaires">
        {% for partner in partners %}
            <div class="partenaire">
                <img src="{{ vich_uploader_asset(partner, 'imageFile') }}" alt="{{ company.name|default('image du paternaire') }}" />
            <a href="{{ partner.link|default('#') }}">{{ partner.name|default('lien') }}</a>
        </div>
        {% else %}
            <div class="partenaire">
                <p>Aucun partenaire n'est enregistré pour le moment.</p>
            </div>
        {% endfor %}
    </section>
    </main>
</div>

{% endblock %}
