/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

html, body {
  height: 100%;
}


.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    background-color: rgb(248, 249, 250);
}

/* VARIABLES */
/* Colors */
:root {
    --green: #28A645;
    --bamboo: #A2E384;
    --aqua: #33d8c3;
    --ocean: #02717a;
    --white: white;
    --black: black;
}

/* STYLE GENERAL */
html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

li {
    list-style-type: none;
    padding: 0 0 5px 0;
}

.titre {
    color: var(--green);
}
.titre-valeurs {
    color: var(--green);
}
.titre-difference {
    color: var(--green);
}
.titre-objectifs {
    color: var(--green);
}
.titre-contact {
    color: var(--green);
}


/* Header Section */


/* Hero Section */
#hero {
    background-image: url('./../images/ynovagroup_hero_2.jpg');
    /* background-repeat: repeat;
    background-position: center; */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    backdrop-filter: blur(5px);
    height: 900px;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero > div > h1 {
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--green);
}

#hero > div > p {
    font-weight: bold;
    color: var(--white);
}

#hero > div > p > .btn {
    font-weight: bold;
    color: var(--white);
}

/* Actu */
.carousel-article > p {
    overflow: scroll;
}

.button-actu > a {
    color: white;
    text-decoration: none;
}
.button-actu > a:hover {
    color: white;
    text-decoration: none;
}

/* Navigation Adhérents Button */
.navbar-fixed-width {
    position: fixed;
    top:0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    
}

#logo {
    width: 200px;
    height: 80px;
}

#ephemeride {
    width: 300px;
    height: 105px;
    transition: all 1s ease-in-out;
}

.navbar-nav > .adherent {
    justify-self: flex-end;
}

.nav-item {
    margin: 0 5px;
    text-align: center;
    font-size: 1em;
}

#about {
  background-color: #abe8b863 !important;
}

.testimonial > p {
  color: black;
}


/* Nos valeurs */

.valeurs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.valeurs-img {
    width: 100px;
    height: 100px;
}

.valeurs-text {
    min-width: 200px;
}

.valeurs-text > p {
    color: black;
}

.valeurs-logo {
    width: 200px;
    height: 70px;
}

/* Notre différence */
.titre-difference {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-box {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-box-text {
    /* flex-wrap: wrap; */
    min-width: 250px;
}


/* Nos objectifs */
/* #objectifs {

} */

.fa-check-square {
    color: var(--green);
    margin: 0 15px;
}

/* Form Section */
.form-group {
    max-width: 700px;
    margin: 0 auto;
}

.form-btn {
    margin: 2rem;
}

button.form-btn:hover {
    color: #28A645;
    background-color: white;
    border-color: #28A645;
}

/*Sticky Slim Footer*/

#sticky-footer {
    background-color: var(--green);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.footer-slim-link  {
    color: white;
    padding: 0 50px;
}

.footer-slim-link:hover {
    background-color: white;
    color: #28A645;
    text-decoration: none;
}

.footer-hide {
    display: none;
}

/* Slim Footer Media Query Rule */
@media (min-width: 320px) and (max-width: 767px) {
  
    #sticky-footer {
        display: none;
    }
    
  }

/* Footer Section */
.footer {
    background-color: var(--green);
    display: flex !important;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap-reverse;
}

.footer > div > .h6 {
    font-weight: bold;
}

.footer-dl {
    color: var(--white);
}

.footer-infos {
    color: var(--white);
}

.footer-infos-element {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.footer-infos-element > a {
    font-weight: lighter;
    color: var(--white);
    text-decoration: none;
}

.footer-infos-element > a:hover {
    background-color: var(--white);
    color: var(--green);
}

#plaquette > i {
    color: var(--white);   
}

#plaquette > i:hover {
    color: var(--black);
}

/* Footer Scroll Top Button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 120px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #28A645; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: var(--white); /* Add a white background on hover */
    color: #28A645; /* Set a background color */
  }

  /* RGPD Modal */
  .modal-dialog {
    top: calc(100% - 300px); 
  }

/* Page Back-Office */

.navbackoffice {
    display: flex;
    align-content: space-around;
}

.backoffice {
    display: flex;
    flex-wrap: wrap;
}

.container-fluid  {
    width: unset;
}

.wrapper-backoffice {
    display: flex;

}

.label {
    padding: 1rem 0;
    text-align: center;
}

.select {
    padding: 0 0 1rem 0;
}
.table {
    margin: 3rem 0;
}

.list-group-item > a {
    color: black;
    text-decoration: none;
}

.list-group-item > a:hover {
    color:var(--green);
    text-decoration: none;
}

td > a > i {
    color:var(--green);
}

td > a > i:hover {
    color: black;
}

.separator {
    border: 1px solid #28A645;
}

/*Page RGPD*/
.rgpd {
    margin: 1rem 2rem 4rem 2rem;
}
.rgpd > h1 {
    color: var(--green);
    font-size: 3em;
    text-align: center;
}

.rgpd > h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.rgpd > h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.rgpd > p {
    margin: 2rem 4rem;
}

/*Page Blog*/
.blog {
    display: flex;
    justify-content: space-between;
}

.blog-date {
    display: flex;
    align-self: center;
}

.blog-post {
    text-align: justify;
    text-justify: inter-word;
}


/* Parallax */
#parallax {
    background-image: url('/images/teamwork.jpg');
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
    height: 750px;
    /* margin: 0;
    padding: 0; */
    z-index: 100;
}

/*Modal*/
.a-rgpd {
    color: var(--green);
}

.a-rgpd:hover {
    color: black;
    text-decoration: none;
}

/* .modal-backdrop {
    display: none !important;
} */

/* .modal-open .modal {
    width: 300px;
    margin: 0 auto;
}  */

/* pagination du blog */
.pagination {
    justify-content: center;
}

.ynova-profil {
    display: flex;
    flex-wrap: wrap-reverse;    
    width: 100%;
    justify-content: center;
}

.ynova-profil-bar {
    /* min-width: vw; */
    min-width: 30%;
    margin: 1rem 1rem;
}

.ynova-profil-doc {
    min-width: 55%;
    margin: 1rem 1rem;
}

/* Partenaires */
#partner {
    margin-top: 6rem;
}

#partenaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    margin: 2rem 2rem;
}

.partenaire > img {
    width: 150px;
    height: auto;
}

.partenaire > a {
    margin: 1rem 0;
    padding: .3rem .3rem;
}

.partenaire > a:hover {
    background-color: white;
    color: var(--green);
    border: 1px solid var(--green);
    margin: 1rem 0;
    padding: .3rem .3rem;
}


.content {
    background-color: white;
}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(-50px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .3s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2 {
    transition-delay: 1s;
}
.reveal-3 {
    transition-delay: 1.2s;
}
.reveal-4 {
    transition-delay: 1.4s;
}
.reveal-5 {
    transition-delay: 1.6s;
}
.reveal-6 {
    transition-delay: 1.8s;
}

.maintenance > h1 {
    color: var(--green);
    font-size: 3.5em;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.maintenance > p > a {
    color: var(--green);
    text-decoration: none;
    padding: 2px 4px;
}

.maintenance > p > a:hover {
    color: var(--white);
    background-color: var(--green);
    text-decoration: none;
    padding: 2px 4px;
}
.maintenance > img {
    width: 150px;
    margin-top: 3em;
}

.error404 {
    margin-top: 10rem;
} 

.error404 > span {
    color: var(--green);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3.5em;
    margin-top: 5em;
    margin-bottom: 1.5em; 
    letter-spacing: 10px;
}
.error404 > h1 {
    color: var(--green);
    font-size: 2.5em;
    /* margin-top: 3em; */
    margin-bottom: 1.5em; 
}

.error404 > p {
    margin-bottom: 1.5em; 
}

.error {
    margin-top: 10rem;
} 


.error > h1 {
    color: var(--green);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3.5em;
    margin-top: 3em;
    /* margin-bottom: 1.5em;  */
    letter-spacing: 10px;
}


.error > p {
    margin-bottom: 5em; 
}

.carousel-item-active {
    display: flex !important;
    justify-content: space-around !important;
}

.form-group > textarea {
    height: 200px;
}


/*Carousel Notre Différence*/



.carousel-inner-difference {
    /* height: 300px;
    position: relative; */
} 


/* .carousel-inner > .item > img {
    height: 500px;
} */
/* 


.carousel-inner > .item {
   height: 400px;
}

.carousel-caption {
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    left: 0;
    right: 0;
    z-index: 2;
    top: 150px;
} */

/* .carousel-caption > h4 {
    font-size: 2.5em;
    font-weight: bold;
}

.carousel-caption > p {
    font-size: 1.2em;
} */

/* .interlude-home {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
    top: 50%;
    /* margin-top: 30px; */
} */

/* .interlude-home > h3 {
    color: white;
}

.interlude-home > p {
    color: white;
}

.interlude-home > h4 {
    font-size: 2.5em;
}

.interlude-home > p {
    font-size: 1.2em;
}

@media only screen and (max-width: 576px) {
    .carousel-caption {
        position: absolute;
        margin-left: 50px;
        margin-right: 50px;
        left: 0;
        right: 0;
        z-index: 2;
        top: 180px;
    }

    .carousel-caption > h4 {
        font-size: 1.4em;
    }
    
    .carousel-caption > p {
        font-size: 1em;
    }
} */

/* .carousel-item.active, .carousel-item .view {
    height: 50vh!important;
  } */


  
.carousel-img {
    filter: blur(7px) grayscale(30%);
}

/* 
.interlude-home {
    width:75%;
    z-index:10;
    color:#fff;
    text-align:center;
    bottom:50%;
    left:50%;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    } */

    .interlude-home {
        position: absolute;
        margin-left: 0;
        margin-right: 0;
        z-index: 3;
        padding: 0 150px;
    }