/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

html, body {
  height: 100%;
}


.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    background-color: rgb(248, 249, 250);
}

/* VARIABLES */
/* Colors */
:root {
    --green: #28A645;
    --bamboo: #A2E384;
    --aqua: #33d8c3;
    --ocean: #02717a;
    --white: white;
    --black: black;
}

/* STYLE GENERAL */
html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

li {
    list-style-type: none;
    padding: 0 0 5px 0;
}

.titre {
    color: var(--green);
}
.titre-valeurs {
    color: var(--green);
}
.titre-difference {
    color: var(--green);
}
.titre-objectifs {
    color: var(--green);
}
.titre-contact {
    color: var(--green);
}


/* Header Section */


/* Hero Section */
#hero {
    background-image: url('./../images/ynovagroup_hero.jpg');
    background-repeat: repeat;
    background-position: center;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    backdrop-filter: blur(5px);
    height: 900px;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero > div > h1 {
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--green);
}

#hero > div > p {
    font-weight: bold;
    color: var(--white);
}

#hero > div > p > .btn {
    font-weight: bold;
    color: var(--white);
}

/* Navigation Adhérents Button */
.navbar-fixed-width {
    position: fixed;
    top:0;
}

#nav {
    display: flex;
    justify-content: center;
}

.navbar-nav > .adherent {
    justify-self: flex-end;
}

.nav-item {
    margin: 0 5px;
    text-align: center;
    font-size: 0.9em;
}

/* Navigation Underline Hover effect */


/* Nos valeurs */

.valeurs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .valeurs-img {
} */

.valeurs-text {
    min-width: 200px;
}

/* Notre différence */
.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-box {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-box-text {
    /* flex-wrap: wrap; */
    min-width: 250px;
}

/* Nos objectifs */
/* #objectifs {

} */

.fa-check-square {
    color: var(--green);
    margin: 0 15px;
}

/* Form Section */
.form-group {
    max-width: 700px;
    margin: 0 auto;
}

.form-btn {
    margin: 2rem;
}

button.form-btn:hover {
    color: #28A645;
    background-color: white;
    border-color: #28A645;
}


/* Footer Section */
.footer {
    background-color: var(--green);
    display: flex !important;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap-reverse;
}

.footer > div > .h6 {
    font-weight: bold;
}

.footer-dl {
    color: var(--white);
}

.footer-infos {
    color: var(--white);
}

.footer-infos-element {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.footer-infos-element > a {
    font-weight: lighter;
    color: var(--white);
    text-decoration: none;
}

.footer-infos-element > a:hover {
    background-color: var(--white);
    color: var(--green);
}

#plaquette > i {
    color: var(--white);   
}

#plaquette > i:hover {
    color: var(--black);
}

/* Footer Scroll Top Button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 120px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #28A645; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: var(--white); /* Add a white background on hover */
    color: #28A645; /* Set a background color */
  }

  /* RGPD Modal */
  .modal-dialog {
    top: calc(100% - 300px); 
  }

/* Page Back-Office */

.navbackoffice {
    display: flex;
    align-content: space-around;
}

.backoffice {
    display: flex;
    flex-wrap: wrap;
}

.container-fluid  {
    width: unset;
}

.wrapper-backoffice {
    display: flex;

}

.label {
    padding: 1rem 0;
    text-align: center;
}

.select {
    padding: 0 0 1rem 0;
}
.table {
    margin: 3rem 0;
}


/*Page RGPD*/
.rgpd {
    margin: 1rem 2rem 4rem 2rem;
}
.rgpd > h1 {
    color: var(--green);
    font-size: 3em;
    text-align: center;
}

.rgpd > h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.rgpd > h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.rgpd > p {
    margin: 2rem 4rem;
}

/*Page Blog*/
.blog {
    display: flex;
    justify-content: space-between;
}

.blog-date {
    display: flex;
    align-self: center;
}

.blog-post {
    text-align: justify;
    text-justify: inter-word;
}


/* Parallax */
#parallax {
    background-image: url('/images/ynovagroup_hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 750px;
    margin: 0;
    padding: 0;
    z-index: 100;
}

/*Modal*/
.a-rgpd {
    color: var(--green);
}

.a-rgpd:hover {
    color: black;
    text-decoration: none;
}

/* .modal-backdrop {
    display: none !important;
} */

/* .modal-open .modal {
    width: 300px;
    margin: 0 auto;
}  */

/* pagination du blog */
.pagination {
    justify-content: center;
}