/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

/* Navigation Adhérents Button */

* {
    --green-color : #28a645 ;
    --green-hover-color : #218838 ;
    font-family: 'Montserrat', sans-serif;
}

#nav {
    display: flex;
    justify-content: center;
}

.adherent {
    justify-self: end;
}

.nav-item {
    margin: 0 5px;
}

.nav-link:hover:not(.adherent-btn) ,
.nav-link:active:not(.adherent-btn)  {
    color: var(--green-hover-color)!important;
}

/* Navigation Underline Hover effect */


body {
    background-color: rgb(248, 249, 250);
}

.table {
    width: auto;
}


.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

:root {
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}