/* Navigation Adhérents Button */

* {
    --green-color : #28a645 ;
    --green-hover-color : #218838 ;
}

#nav {
    display: flex;
    justify-content: center;
}

.adherent {
    justify-self: end;
}

.nav-item {
    margin: 0 5px;
}

.nav-link,
.nav-link:visited {
    color: black!important;
}

.nav-link:hover,
.nav-link:active {
    color: var(--green-hover-color)!important;
}

/* Navigation Underline Hover effect */


body {
    background-color: rgb(248, 249, 250);
}

table {
    width: 14px;
}
