<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ynovagroup | {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('backend') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if current is not defined %}
        {% set current = null %}
    {% endif %}
        {{ render(controller(
            'App\\Controller\\Backend\\NavbarController::index',
            { 'current': current }
        )) }}
        <div class="row py-4">
            {{ render(controller(
                'App\\Controller\\Backend\\SidebarController::index',
                { 'current': current }
            )) }}
            <div id="swup" class="transition-fade col-12 col-lg-10 pr-lg-5">
                {% block body %}{% endblock %}
            </div>
        </div>

        {{ encore_entry_script_tags('backend') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
