{% extends 'base.html.twig' %}

{% block nav %}
    <nav class=" container nav">
        <a class="nav-item nav-link"  href="#"> 
            Utilisateurs 
        </a>
        <a class="nav-item nav-link"  href="#"> 
            Pharmacies 
        </a>

    </nav>
{% endblock %}