<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Affichage d'un document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="fileEdit">
        <input type="hidden" name="id" id="id">
        <div class="modal-body">
            <div class="form-group">
                <label for="fileName">Nom du fichier</label>
                <input class="form-control" type="text" name="fileName" id="fileName">
            </div>
            <div class="form-group">
                <label for="fileType">Type</label>
                <input class="form-control" type="text" name="fileType" id="fileType">
            </div>
            <div class="form-group">
                <label for="fileDescription">Description</label>
                <textarea name="fileDescription" id="fileDescription" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="fileCommercial">Commercial</label>
                <input class="form-control" type="text" name="fileCommercial" id="fileCommercial">
            </div>
            <div class="form-group">

            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="isActive">Document actif</label>
                <select name="isActive" id="isActive" class="form-control">
                  <option value="true">oui</option>
                  <option value="false">non</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="deletedAt">Date de suppression</label>
                <input type="date" class="form-control" id="deletedAt">
              </div>
            </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
    </div>
  </div>
</div>