<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Affichage d'un document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="companyEdit">
            <div class="form-group">
                <label for="fileName">Nom du fichier</label>
                <input class="form-control" type="text" name="fileName" id="fileName">
            </div>
            <div class="form-group">
                <label for="fileType">Type</label>
                <input class="form-control" type="text" name="fileType" id="fileType">
            </div>
            <div class="form-group">
                <label for="fileDescription">Description</label>
                <input class="form-control" type="text" name="fileDescription" id="fileDescription">
            </div>
            <div class="input-group">
              <div class="form-group mr-1">
                  <label for="fileCommercial">Commercial</label>
                  <input class="form-control" type="text" name="fileCommercial" id="fileCommercial">
              </div>
              <div class="form-group ml-1">
                  <label for="fileUsers">Utilisateurs</label>
                  <input class="form-control" type="text" name="fileUsers" id="fileUsers">
              </div>
            </div>
        </form>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>