{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des documents{% endblock %}

{% block body %}
    <h1>Liste des documents</h1>

<div class="card p-4">
    <div class="d-flex mb-3">
        <a class="btn btn-success btn-sm" id="add-modal" href="{{ path('backend_file_create') }}"><i class="fas fa-plus-square"></i> Ajouter un document</a>
    </div>
    <table id="filesTable" class="table table-hover table-striped w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Description</th>
                <th>Actif</th>
                <th>Commercial</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<p class="text-left">
    <a href="">retour</a>
</p>

{% endblock %}