{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des pharmacies{% endblock %}

{% block body %}
    <h1>Liste des pharmacies</h1>

    <div class="card p-4">
        <div class="d-flex mb-3">
            <a class="btn btn-success btn-sm" id="add-modal" href="{{ path('backend_company_create') }}"><i class="fas fa-plus-square"></i> Ajouter une pharmacie</a>
        </div>
        <table id="companyTable" class="table table-hover table-striped table-responsive w-100">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>   
                    <th>Adresse</th>
                    <th>Complément</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Gestionnaire</th>
                    <th>Commercial</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <p class="text-left">
        <a href="">retour</a>
    </p>

{% endblock %}