{% extends 'backend/backend_layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des sociétés</h1>

<div class="card p-4">
    <table id="companyTable" class="table table-hover table-striped w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Complément d'adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Photo de la pharmacie</th>
                <th>Utilisateur</th>
                <th>Commercial</th>
                <th>Actif</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<p class="text-left">
    <a href="">retour</a>
</p>

    {# <a href="{{ path('backend_user_new') }}">Create new</a> #}
{% endblock %}

{% block javascripts %}
    <script>
        $('#companyTable').DataTable({
            language: {
                url: '/json/fr_FR.json'
            },
            ajax: {
                url: '/api/companies',
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                { data: 'name' },
                { data: 'firstAdressField' },
                { data: 'secondAdressField' },
                { data: 'postalCode' },
                { data: 'city' },
                { data: 'picture' },
                { data: 'user' },
                { data: 'commercial' },
                { 
                    data: 'isActive',
                    render: function (data) {
                        return (data === true) ? 'oui' : 'non'
                    }
                }
            ]
        })
    </script>
{% endblock %}