{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des pharmacies{% endblock %}

{% block body %}
    <h1>Liste des pharmacies</h1>

<div class="card p-4">
    <table id="companyTable" class="table table-hover table-striped w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>   
                {# /vianney je voudrais faire en sorte d'avoir un lien href afin de rediriger vers la page de la pharmacie via backend_company_show  #}
                <th>Adresse</th>
                <th>Complément</th>
                <th>Code postal</th>
                <th>Ville</th>
                {# <th>Photo de la pharmacie</th> #}
                <th>Gestionnaire</th>
                <th>Commercial</th>
                {# <th>Active</th> #}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<p class="text-left">
    <a href="">retour</a>
</p>

{% include('backend/company/_editModal.html.twig') %}

{% endblock %}

{% block javascripts %}
    <script>
        $('#companyTable').DataTable({
            language: {
                url: '/json/fr_FR.json'
            },
            ajax: {
                url: '/api/companies',
                dataSrc: ''
            },
            columns: [
                {
                    data: 'id',
                    render: function (data, index, row) {
                        var button = `
                        <btn class="btn btn-success btn-sm edit-modal"
                            data-id="${data}"
                            data-name="${row.name}"
                            data-member="${(row.user.firstname + ' ' + row.user.lastname)}"
                            data-commercial="${(row.user.firstname + ' ' + row.user.lastname)}"
                            data-adress1="${row.firstAdressField}"
                            data-adress2="${row.secondAdressField}"
                            data-postalcode="${row.postalCode}"
                            data-city="${row.city}"
                        >
                            <i class="fas fa-plus-circle"></i>
                        </btn>`
                        return button
                    }
                },
                { data: 'name' },
                { data: 'firstAdressField' },
                { data: 'secondAdressField' },
                { data: 'postalCode' },
                { data: 'city' },
                {# { data: 'picture' }, #}
                { 
                    data: 'user' ,
                    render: function(data, index, row) {
                        if(null !== data) {
                            return data.firstname + ' ' + data.lastname
                        }
                    }
                },
                { 
                    data: 'commercial' ,
                    render: function(data, index, row) {
                        if(data) {
                            return data.firstname + ' ' + data.lastname
                        }
                        return '-'
                    }
                },
                {# { 
                    data: 'isActive',
                    render: function (data) {
                        return (data === true) ? 'oui' : 'non'
                    }
                } #}
            ],
            initComplete: function() {
                $('.edit-modal').click(function() {
                    var data = $(this).data()

                    $('#companyName').val(data.name)
                    $('#companyMember').val(data.member)
                    $('#companyCommercial').val(data.commercial)
                    $('#companyAdress1').val(data.adress1)
                    $('#companyAdress2').val(data.adress2)
                    $('#companyPostCode').val(data.postalcode)
                    $('#companyCity').val(data.city)

                    $('#editModal').modal()

                })
            }
        })
    </script>
{% endblock %}