{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}
    <h1>Ajout d'un utilisateur</h1>
    <div class="card p-4">
        {{ include('backend/user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    <a class="link-green" href="{{ path('backend_user_index') }}">Retour à la liste des utilisateurs</a>

    {# {{ include('backend/user/_delete_form.html.twig') }} #}
{% endblock %}
