<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153217750-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153217750-1');
        </script>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ynovagroup |
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('build/favicon.ico') }}"/>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% if current is not defined %}
			{% set current = null %}
		{% endif %}
		{{ render(controller(
            'App\\Controller\\Frontend\\NavbarController::index',
            { 'current': current }
        )) }}
		<div class="content"> 
            {% block body %}{% endblock %}
        </div>
        {% include('partials/_footer.html.twig') %}
        <!-- Optional JavaScript -->
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        {% include('partials/_schema.html.twig') %}
        {% if not app.user and app.session.get('acceptCookie') is null %}
            {% include('partials/_rgpd.html.twig') %}
        {% endif %}
        {% include('partials/_metadata.html.twig') %}
    </body>
</html>
