{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Documents reçus</h1>
        <div class="card p-4">
            {{ include('backend/partials/_flash.html.twig') }}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                </span><i class="fas fa-file-alt"></i> <strong>Documents</strong>
                <hr class="message-inner-separator">
                <p>Vous avez reçu un document (type de document) de la pharmacie (nom de la pharmacie)</p>
                <p class="text-right"><a href="" class="alert-link">voir le document <i class="fas fa-external-link-alt"></i></a></p>
            </div>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                </span><i class="fas fa-file-alt"></i> <strong>Documents</strong>
                <hr class="message-inner-separator">
                <p>Vous avez reçu un document (type de document) de la pharmacie (nom de la pharmacie)</p>
                <p class="text-right"><a href="" class="alert-link">voir le document <i class="fas fa-external-link-alt"></i></a></p>
            </div>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                </span><i class="fas fa-file-alt"></i> <strong>Documents</strong>
                <hr class="message-inner-separator">
                <p>Vous avez reçu un document (type de document) de la pharmacie (nom de la pharmacie)</p>
                <p class="text-right"><a href="" class="alert-link">voir le document <i class="fas fa-external-link-alt"></i></a></p>
            </div>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                </span><i class="fas fa-file-alt"></i> <strong>Documents</strong>
                <hr class="message-inner-separator">
                <p>Vous avez reçu un document (type de document) de la pharmacie (nom de la pharmacie)</p>
                <p class="text-right"><a href="" class="alert-link">voir le document <i class="fas fa-external-link-alt"></i></a></p>
            </div>
        </div>
    </div>
{% endblock %}
