{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Documents reçus</h1>
        <div class="card p-4">
            {{ include('backend/partials/_flash.html.twig') }}

            <table id="receivedFilesTable" class="table table-hover table-striped w-100">
                <thead>
                    <tr>
                        <th>Nom du document</th>
                        <th>Envoyé par</th>
                        <th>Reçu le</th>
                        <th>Lu</th>
                        <th>Télécharger</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
{% endblock %}
