{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants{% endblock %}

<span>Oups !</span>
<h1>Erreur 404</h1>
<p>La page que vous cherchez semble introuvable ou n'existe pas...</p>
<button>Retourner à l'accueil</button>

{% block body %}

{% endblock %}
