{% extends 'base.html.twig' %}

{% block title %}Ynovagroup - Votre groupement de pharmaciens indépendants{% endblock %}

{% block body %}

<h1>Notre site est actuellement en maintenance</h1>
<p>Veuillez nous excuser pour la gêne occasionnée. Nous serons de retour très rapidement.</p>
<p>Nous sommes toujours joignable par télépéhone au <a href="tel:+33982385456">+33 (0)9 82 38 54 56</a> et par e-mail à l'adresse <a href="mailto:contact@ynovagroup.com">contact@ynovagroup.com</a></p>

{% endblock %}
