{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

<div class="card p-4">
    <table id="postTable" class="table table-hover table-striped  w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Image</th>
                <th>Publié</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<p class="text-left">
    <a href="">retour</a>
</p>

{% include('backend/post/_editModal.html.twig') %}

{% endblock %}