{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

<div class="card p-4">
    {{ include('backend/partials/_flash.html.twig') }}
    <div class="d-flex mb-3">
        <a class="btn btn-success btn-sm" id="add-modal" href="{{ path('backend_post_create') }}"><i class="fas fa-plus-square"></i> Ajouter un article</a>
    </div>
    <table id="postTable" class="table table-hover table-striped w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Source</th>
                <th>Publié</th>
                <th>Visibilité</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<p class="text-left">
    <a class="link-green" href="">retour</a>
</p>

{% endblock %}