<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Bienvenue chez Ynovagroup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="width:100%">
<body class="bg-light">
 <div class="container" style="width:650px; margin:auto">
      <table style="width:100%; color: white; border-collapse:collapse">
        <thead style="height:150px; background-color:#28a645">
        <tr>
          <th style="width=50px"></th>
          <th style="text-align:center"><h1 style="padding: 20px 0">Bienvenue chez Ynovagroup !</h1></th>
          <th style="width=50px"></th>
        </tr>
        </thead>
        <tbody style="background-color:white; color:black; min-height: 400px;">
          <tr>
            <td style="width:50px"></td>
            <td><h2 style="text-align:center; padding: 15px 0">Bonjour, {{user.firstname ~ ' ' ~ user.lastname}}</h2></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:5px">Vous avez un nouveau message à votre disposition.</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:5px">Veuillez consulter votre espace client Ynovagroup à cette adresse : </p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:5px;"><a class="btn btn-success mx-auto" href="https://ynovagroup.com/connexion">Accéder à mon espace</a></p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:10px;">L'équipe Ynovagroup</p><br></td>
            <td style="width:50px"></td>
          </tr>
        </tbody>
        <tfoot style="height:150px; background-color:#28a645">
          <tr>
            <th style="width=50px"></th>
            <th style="text-align:center"><p>2019 &copy; Ynovagroup.com</th>
            <th style="width=50px"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>